<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search City"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/day.jpg" alt="day" *ngIf="weatherData.main.temp > 15" />
    <img
      src="../assets/night.jpg"
      alt="night"
      *ngIf="weatherData.main.temp <= 15"
    />

    <div class="weather-data">
      <div class="city-name">{{ weatherData.name }}</div>
      <div class="temp">{{ weatherData.main.temp | number: "1.0-0" }}'C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-heading">More Info</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/freezing.png" alt="min" />
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min | number: "1.0-0" }}'C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/hot.png" alt="max" />
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_max | number: "1.0-0" }}C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="humid" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }}%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="wind" />
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ weatherData.wind.speed }}km/h</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
